<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="bblCoach"
          class="com.springprojects.XMLConfigurations.InversionOfControl.BaseBallCoach">
    </bean>

    <bean id="trckCoach"
          class="com.springprojects.XMLConfigurations.InversionOfControl.TrackCoach">
    </bean>

    <bean id="cricketCoach"
          class="com.springprojects.XMLConfigurations.InversionOfControl.CricketCoach">
    </bean>

    <bean id="footballCoach"
          class="com.springprojects.XMLConfigurations.DependencyInjection.FootBallCoach"
          >
        <constructor-arg ref="trainingService" ></constructor-arg>
    </bean>

		<bean id="badmintonCoach"
					class="com.springprojects.XMLConfigurations.DependencyInjection.BadmintonCoach">
			<property name="trainingService" ref="trainingService" />
			<property name="coachName" value="${badminton.coach}" />
			<property name="emailId" value="theofficialId@badminton.com"></property>
			<property name="advancedTraining" ref="advancedTrainingService"/>
		</bean>

    <bean id="trainingService"
          class="com.springprojects.XMLConfigurations.DependencyInjection.SeniorMentorTraining">
    </bean>

	<bean id="advancedTrainingService"
				class="com.springprojects.XMLConfigurations.DependencyInjection.AdvancedTraining">
	</bean>

		<context:property-placeholder location="classpath:allSports.properties"/>

	<!-- ############### Bean Scope ############## -->
	<bean id="bblCoach2"
				class="com.springprojects.XMLConfigurations.InversionOfControl.BaseBallCoach"
				scope="prototype">
	</bean>

	<bean id="tennisCoach"
				class="com.springprojects.XMLConfigurations.BeanScope.TennisCoach"
				scope="singleton"
				init-method="doInitializeTask"
				destroy-method="doClosingTask" >
	</bean>

</beans>





