<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="bblCoach"
          class="com.springprojects.InversionOfControl.BaseBallCoach">
    </bean>

    <bean id="trckCoach"
          class="com.springprojects.InversionOfControl.TrackCoach">
    </bean>

    <bean id="cricketCoach"
          class="com.springprojects.InversionOfControl.CricketCoach">
    </bean>

    <bean id="footballCoach"
          class="com.springprojects.DependencyInjection.FootBallCoach"
          >
        <constructor-arg ref="trainingService" ></constructor-arg>
    </bean>

		<bean id="badmintonCoach"
					class="com.springprojects.DependencyInjection.BadmintonCoach">
			<property name="trainingService" ref="trainingService" />
		</bean>

    <bean id="trainingService"
          class="com.springprojects.DependencyInjection.SeniorMentorTraining">
    </bean>
</beans>





